#content-shape{
  animation: contentShape;
  animation-duration: .5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content-robot{
  animation: contentRobot 1s infinite alternate; 
}
#content-shadow{
  position: fixed;
  background-color: #111;
  border-radius: 100%;
  height: 20px;
  width: 150px;
  filter: blur(10px);
  pointer-events: none;
}
@keyframes contentRobot {
  100% {
    transform: translateY(2%);
  }
}
