#arm-left{
  transform: rotate(13deg) translateY(228px) translateX(199px);
  ry: 70px;
  rx: 20px;
}

#arm-right{
  transform: rotate(-13deg) translateY(350px) translateX(329px);
  ry: 70px;
  rx: 20px;
}
