body{
  background-color: #eee;
  animation: BodyAppearance 1.5s reverse;
}
#container-config{
  /* #robo-container{
    min-width: 400px;
  } */
  #config-appearance{
    transition: all .5s ease-out;
    position: relative;
    animation: AnimConfigAppearance .5s reverse;
    opacity: 1;
  }
  
  #content-shape{
    position: relative;
    transition: all 1s ease-out;
  }

  
  @media (min-width: 640px) {
    #container-colors{
      display: grid;
      grid-template-columns: 300px auto;
    }
  }
  @media (max-width: 435px) {
    #content-shape{
      margin-bottom: 10px;
    }
    #svg-robot{
      width: 200px;
      height: 200px;
      margin: auto;
    }
    #config-appearance{
      #content-colors{
        display: grid;
        grid-template-columns: auto auto;

        .w-color-compact{
          width: 150px !important;
        }
      }

    }
  }

}


@keyframes BodyAppearance {
  100% { 
    background-color: #000;
  }
}

@keyframes AnimConfigAppearance {
  100% { 
    margin-left: -50px; 
    opacity: 0; 
    filter: blur(10px); 
  }
}
