#arms-ToUp{
  #arm-left{
    transform: rotate(-13deg) translateX(100px) translateY(204px) rotateZ(351deg);
    animation: armLeftUp .5s infinite alternate; 
  }

  #arm-right{
    transform: rotate(13deg) translateX(422px) translateY(78px) rotateZ(7deg);
    animation: armRightUp .5s infinite alternate; 
  }

  @keyframes armLeftUp {
    50% {
      transform: rotate(-13deg) translateX(100px) translateY(199px) rotateZ(351deg);
    }
  }  

  @keyframes armRightUp {
    50% {
      transform: rotate(-13deg) translateX(100px) translateY(199px) rotateZ(351deg);
    }
  }  
  
}