@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #222;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: calc(100vh + 1px);
  border-top: 15vh solid #000;
  border-bottom: 15vh solid #000;
  overflow: hidden;
  background-color: #eee;
}


.text-interact{
  cursor: default;
  transition: all 0.1s ease-out;
  background-color: rgba(0, 0, 0, 0.05);
  color: #444;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  font-size: 13px;
  padding: 10px;
  position: absolute;
  max-width: 20vh;
}
