@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #222;
}

/* body{
  background-color: #a7abb3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
} */


body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: calc(100vh + 1px);
  border-top: 15vh solid #000;
  border-bottom: 15vh solid #000;
  overflow: hidden;
  background-color: #eee;
}


.text-interact{
  cursor: default;
  transition: all .1s ease-out;
  background-color: rgba(0, 0, 0, .4);
  color: #eee;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  font-size: 13px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  max-width: 20vh;
}
