@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #eee;
}

body{
  background-color: #a7abb3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


.text-interact{
  cursor: default;
  transition: all .1s ease-out;
  background-color: rgba(0, 0, 0, .4);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  font-size: 13px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  max-width: 20vh;
}
